PANEL_BASE_URL=https://mobguard.example.com
MODULE_ID=module-1
MODULE_TOKEN=change-me
ACCESS_LOG_PATH=/var/log/remnanode/access.log
STATE_DIR=./state
SPOOL_DIR=./state/spool
HEARTBEAT_INTERVAL_SECONDS=30
CONFIG_POLL_INTERVAL_SECONDS=60
FLUSH_INTERVAL_SECONDS=3
EVENT_BATCH_SIZE=100
MAX_SPOOL_EVENTS=5000
